Debug/
.settings/
lv_dev_tools/
**/*.o
demo
.pydevproject
/.metadata/

.idea/

cmake-build-debug/

bin/

CMakeCache.txt

cmake_install.cmake

Makefile

CMakeFiles/

.ninja_log

.ninja_deps

build.ninja

.cmake/api/v1/query/

.cmake/api/v1/reply/
